@model IEnumerable<RentCarProject.Models.Inspeccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ralladuras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaRepuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoGomas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ralladuras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GomaRepuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoGomas)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdTransaccion">Edit</a> |
                    <a asp-action="Details" class=" btn btn-primary"  asp-route-id="@item.IdTransaccion">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdTransaccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
